@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 34, 34;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 5, 4, 64;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  letter-spacing: -0.025rem;
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl xl:text-6xl font-bold leading-snug md:leading-snug xl:leading-snug;
  }
  h2 {
    @apply text-blue text-xs font-semibold mb-2;
  }

  section {
    @apply w-full pt-8 pb-24 md:pt-8 md:pb-32 xl:pt-8 xl:pb-40;
  }

  a{
    @apply underline underline-offset-2;
  }
  em {
    @apply not-italic font-semibold relative w-full before:absolute before:-z-10 before:bottom-0 before:content-[''] before:w-[calc(100%_+_4px)] before:h-2 before:bg-lime;
  }

  ul, ol {
    @apply list-inside -indent-5 pl-5
  }
  ul {
    @apply list-disc
  }
  ol {
    @apply list-decimal
  }
}

@layer components {
  .section-title {
    @apply text-2xl font-semibold break-keep mb-8 md:mb-12;
  }
}